
.login-form {
  padding: 10px;
  width: 350px;
  margin:0;

}

.login-form > input {
  font-size:13px;
  display:block;
  margin:auto;
  margin-bottom:10px;
  padding: 10px;
  width: 95%;
}

.login-form > label {
  display:block;
  margin:auto;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}

/*.login-form > button {
  font-size: 12px;
  margin:auto;
  display: block;
  height: 30px;
  margin-top: 30px;
  width: 95%;
}*/

.success {
  color: green;
}

.failure {
  color: red;
}

#notify-message {
  padding:8px;
}
