.App {
  text-align: center;
  font-family: sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.new-event-form {
  margin: 20px 20px 20px 20px;
  text-align: left;
  width:300px;
}

.new-event-form > input, textarea {
  width: 100%;
  margin: 15px 0 15px 0;
  padding:8px;
}

.dpicker {
  width: 100%;
  margin: 15px 0 15px 0;
  padding:8px;
}

.new-event-form > textarea {
  /*resize: none*/
}

.new-event-form > label {
  display:block;
}
